@charset "utf-8";

.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.slide_box .img_size {
  max-height: 600px;
}










